body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button {
  max-width: fit-content;
}

section {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 1ex;
}

article {
  margin: 1ex 0;
  border: 0.1em solid black;
  border-radius: 0.7em;
  width: 60%;
}

.username {
  font-weight: bold;
  padding-top: 0.9ex;
  padding-left: 0.9ex;
}

.message {
  padding-bottom: 0.9ex;
  padding-left: 0.9ex;
}

.time {
  color: gray;
  font-weight: normal;
}
