body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button {
  max-width: fit-content;
}

section {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 1ex;
}

article {
  border-bottom: 1px solid black;
  margin: 1ex 0;
}
